* {
    box-sizing: border-box;
    font-family: 'McLaren', cursive;
    
}

body {
    color: #CECECE;
    background: linear-gradient(0deg, rgba(32, 89, 148, 0.2), rgba(32, 89, 148, 0.2)), linear-gradient(0deg, rgba(0, 78, 146, 0.2), rgba(0, 78, 146, 0.2)), #000428;
}
#head-tiltle {
    margin-top: 56px;
    text-align: center;
}


#main-view {
    width: 1030px;
    margin: 26px auto;
    display: flex;
    gap : 20px;
}

.selection-bar > p {
    text-align: center;
}
#grid-selection {
    display: flex;
    place-items: center;
    gap : 19px;
}

#grid-selection > button {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 0;
}


.slider-value {
    background-color: #1c74c2;
    border-radius: 8px;
    width: 110px;
    height: 38px;
    text-align: center;
}


.sliderValue {
    margin-top: 10px;
    font-size: 15px;
}

#color-tool  {
    display: flex;
    gap: 130px;
    place-items: center;
    margin: 8px 0 12px 0;
}

/* #color-tool > button {
    width: 100px;
    height: 28px;
    background: #CECECE;
    color:black;
    border-radius: 2px;
    border: 0;
} */


.color-selector {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 65px;
    height: 38px;
    border: none;
    cursor: pointer;
}

.tools-selection {
    padding: 8px 8px 0 8px;
    background-color: #2C4164;
    width: 294px;
    border-radius: 6px;
}

.tools-selection > p {
    margin: 0 0 6px;
    color: #EBEBEB;
}

.tools-selection > button {
    margin-bottom: 16px;
}




.tools-selection > button {
    width: 276px;
    height: 56px;
    border-radius: 6px;
    border: 0;
    background-color: #c2fbd7;
    border-radius: 6px;
    color: green;
}

.reset {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.reset > button {
    width: 178px;
    height: 46px;
    border-radius: 5px;
    background-color: #0B4BB9 ;
    border: 0;
    color: #EBEBEB;
}




.board-view {
    display: grid;
    /* place-items: center; */
    width: 706px;
    height: 706px;
    padding: 0;
    background: #fcfcfc;
    border: 1px solid rgba(15, 75, 179, 0.62);
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}


.grid-item {
    /* width: 16px;
    height: 16px; */
    border: 0;
}

.item-black {
    background-color: black;
}

/* Taken from W3School */
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 5px;  
    background: #61e961;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    background: #05ffea;
    cursor: pointer;
    transition: background .3s ease-in-out;
  }
  
  .slider::-moz-range-thumb {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #9edfc7;
    cursor: pointer;
  }

  /* Taken from W3School */



  
/* CSS copied online, forgot the site */
.button-33 {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-33:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
  }
  